# This file is used to configure npm behavior for this project. The `ignore-scripts` setting prevents npm from running any lifecycle scripts defined in the package.json file, such as preinstall, install, and postinstall scripts. This can be useful for security reasons or to avoid unintended side effects during installation.

# min-release-age=3
ignore-scripts=true